<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      <%= t('.hi', name: @user.name) %>
    </h2>

    <p>
      <%= t('.reset') %>
      <%= link_to t('.link'), password_reset_url(@token) %>
      <%= t('.copy') %>
    </p>

    <p>
      <%= password_reset_url(@token) %>
    </p>

    <p>
      <%= t('.ignore') %>
    </p>

    <p>
      <%= t('.expire') %>
    </p>

    <p>
      <%= t('.thanks') %>
      <br>
      <%= t('.team') %>
    </p>
  </body>
</html>
