<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h3 mb-2 mt-4 font-weight-normal text-center">
        <%= t('.update_account') %>
      </h1>

      <%= bootstrap_form_with(model: current_user, local: true) do |form| %>
        <div class="row">
          <div class="col-md-6">
            <%= form.email_field :email, required: true %>
          </div>
          <div class="col-md-6">
            <%= form.text_field :name, required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= form.password_field :password %>
          </div>
          <div class="col-md-6">
            <%= form.password_field :password_confirmation, label: t('.password_confirmation') %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit t('.submit'), class: 'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
