<%= form_with(model: passage, local: true) do |form| %>
  <% if passage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passage.errors.count, "error") %> prohibited this passage from being saved:</h2>

      <ul>
        <% passage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ref %>
    <%= form.text_field :ref %>
  </div>

  <div class="field">
    <%= form.label :text_id %>
    <%= form.text_field :text_id %>
  </div>

  <div class="field">
    <%= form.label :passage %>
    <%= form.text_area :passage %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
