<p id="notice"><%= notice %></p>

<div class="mb-4 row">
  <div class="col-3">
    <% if @passage.previous_passage %>
      <%= link_to '«', passage_path(@passage.previous_passage), class: "btn btn-secondary btn-block" %>
    <% end %>
  </div>

  <div class="col-3">
    <%= link_to 'Edit', edit_passage_path(@passage), class: 'btn btn-secondary btn-block' %>
  </div>
  <div class="col-3">
    <%= link_to 'Index', passages_path, class: 'btn btn-secondary btn-block' %>
  </div>

  <div class="col-3">
    <% if @passage.next_passage %>
      <%= link_to '»', passage_path(@passage.next_passage), class: 'btn btn-secondary btn-block' %>
    <% end %>
  </div>
</div>

<p>
  <strong>Ref:</strong>
  <%= @passage.ref %>
</p>

<p>
  <strong>Text URN:</strong>
  <%= @passage.text.urn %>
</p>

<p>
  <strong>Passage:</strong>
  <span class="greek">
    <%= @passage.passage %>
  </span>
</p>

<p>
  <strong>Rank:</strong>
  <%= @passage.rank %>
</p>

<p>
  <strong>Comments:</strong>
</p>

<% @passage.comments.order(:created_at).each do |comment| %>
  <hr>

  <p>
    <strong>User:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.comment %>
  </p>
<% end %>

<%= link_to 'New comment', new_passage_comment_path(@passage), class: 'btn btn-primary' %>
